<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function() {
           jQuery("input[type=button]").on('click', function() {
               var $signupEmail = jQuery("#signupEmail").val();
               var $signupPwd = jQuery("#signupPwd").val();
               var $signupPwdre = jQuery("#signupPwd-re").val();
               var $signupNickName = jQuery("#signupNickName").val();
               if (!$signupEmail) {
                   alert('邮箱不能为空！');
                   return false;
               } else if (!$signupPwd) {
                   alert('密码不能为空！');
                   return false;
               } else if (!$signupPwdre) {
                   alert('确认密码不能为空！');
                   return false;
               } else if ($signupPwd !== $signupPwdre) {
                   alert('两次输入的密码不一致，请核对后再输入！');
                   return false;
               } else if (!$signupNickName) {
                   alert("昵称不能为空！");
                   return false;
               } else {
                   var url = '/user/signup';
                   jQuery('form').attr('action', url);
                   jQuery('form').submit();
               }
           });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="">
               <div class="modal-body">
                   <div class="form-group">
                       <label for="signupEmail">邮箱</label>
                       <input type="text" id="signupEmail" name="user[email]" class="form-control">
                   </div>
                   <div class="form-group">
                       <label for="signupPwd">密码</label>
                       <input type="password" id="signupPwd" name="user[password]" class="form-control">
                   </div>
                   <div class="form-group">
                       <label for="signupPwd-re">确认密码</label>
                       <input type="password" id="signupPwd-re" class="form-control">
                   </div>
                   <div class="from-group">
                       <label form="signupNickName">昵称</label>
                       <input type="text" id="signupNickName" name="user[nickname]" class="form-control">
                   </div>
               </div>
               <div class="modal-footer">
                    <input type="button" class="btn btn-success" value="注册">
               </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>